.Root {
  display: flex;
  gap: var(--spacing-md);
}

.Control {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 14rem;
  padding-block: var(--spacing-md);
  touch-action: none;
  user-select: none;
}

.Track {
  width: 100%;
  height: var(--radius-sm);
  background-color: var(--color-gray-200);
  box-shadow: inset 0 0 0 1px var(--color-gray-200);
  border-radius: var(--radius-sm);
  user-select: none;
}

.Indicator {
  border-radius: var(--radius-sm);
  background-color: var(--color-gray-700);
  user-select: none;
}

.Thumb {
  width: var(--spacing-md);
  height: var(--spacing-md);
  border-radius: 50%;
  background-color: var(--color-text-primary);
  outline: 1px solid var(--color-gray-300);
  user-select: none;
  cursor: pointer;
  transition: all var(--transition-normal);

  &:focus-visible {
    outline: 2px solid var(--color-secondary);
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--color-primary);
    transform: scale(1.1);
  }
}
